In [1]:
import pandas as pd

In [3]:
div_comp = pd.read_csv('../data/divorce_comp_db.csv')

In [4]:
div_comp.head(3)

   Unnamed: 0 Zod_sign_man Zod_sign_woman       zod_combo  Compatibility_rate
0           0  Sagittarius            Leo  SagittariusLeo                0.93
1           2       Pisces          Aries     PiscesAries                0.67
2           4      Scorpio          Libra    ScorpioLibra                0.35

In [12]:
 div_comp = div_comp.drop(['Unnamed: 0'], axis=1)

In [13]:
div_comp.to_csv('../data/Postgree_DB/divorce_compatibility_cl.csv', index= False)