In [1]:
#Import our dependencies
import sqlite3
import pandas as pd
from pathlib import Path
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
#Establishing path we will be making
database_path = "../Resources/Astrological_data.sqlite"
Path(database_path).touch()

In [3]:
#Adding the connections for the sqlite document
conn = sqlite3.connect( database_path)
c = conn.cursor()

In [4]:
#Dropping any exisiting tables
c.execute('''DROP TABLE IF EXISTS Astrological_Compatibility;''')

In [5]:
#Creating the table and the columns for the new database
c.execute('''
    CREATE TABLE Astrological_Compatibility (
        zodiac1 VARCHAR(40) NOT NULL,
        zodiac2 VARCHAR(40) NOT NULL,
        bad_match INT NOT NULL,
        Compatibility_rate DEC NOT NULL
    );
''')

In [9]:
#Creating variable for reading from csv file
data_csv = pd.read_csv("../zodiac_outcome.csv", index_col=0)

In [10]:
#Reading the data to make sure it is correct
data_csv.head()

  zodiac1 zodiac2  bad_match  Compatibility_rate
0   Aries   Aries          0                50.0
1   Aries  Taurus          1                38.0
2   Aries  Gemini          0                83.0
3   Aries  Cancer          0                42.0
4   Aries     Leo          0                97.0

In [11]:
# Inserting data into the table
data_csv.to_sql("Astrological_Compatibility", conn, if_exists='append', index = False)

144

In [12]:
#Running excute to make sure the database is working
c.execute('''SELECT * from Astrological_Compatibility''').fetchall()

[('Aries', 'Aries', 0, 50),
 ('Aries', 'Taurus', 1, 38),
 ('Aries', 'Gemini', 0, 83),
 ('Aries', 'Cancer', 0, 42),
 ('Aries', 'Leo', 0, 97),
 ('Aries', 'Virgo', 0, 63),
 ('Aries', 'Libra', 0, 85),
 ('Aries', 'Scorpio', 0, 50),
 ('Aries', 'Sagittarius', 0, 93),
 ('Aries', 'Capricorn', 0, 47),
 ('Aries', 'Aquarius', 0, 78),
 ('Aries', 'Pisces', 0, 67),
 ('Taurus', 'Aries', 1, 38),
 ('Taurus', 'Taurus', 1, 57.99999999999999),
 ('Taurus', 'Gemini', 1, 33),
 ('Taurus', 'Cancer', 1, 97),
 ('Taurus', 'Leo', 1, 73),
 ('Taurus', 'Virgo', 1, 90),
 ('Taurus', 'Libra', 1, 65),
 ('Taurus', 'Scorpio', 1, 88),
 ('Taurus', 'Sagittarius', 1, 30),
 ('Taurus', 'Capricorn', 1, 98),
 ('Taurus', 'Aquarius', 1, 57.99999999999999),
 ('Taurus', 'Pisces', 1, 85),
 ('Gemini', 'Aries', 0, 83),
 ('Gemini', 'Taurus', 1, 33),
 ('Gemini', 'Gemini', 0, 60),
 ('Gemini', 'Cancer', 1, 65),
 ('Gemini', 'Leo', 1, 88),
 ('Gemini', 'Virgo', 0, 68),
 ('Gemini', 'Libra', 0, 93),
 ('Gemini', 'Scorpio', 0, 28.000000000000004),
 ('Gemini', 'Sagittarius', 1, 60),
 ('Gemini', 'Capricorn', 0, 69),
 ('Gemini', 'Aquarius', 0, 85),
 ('Gemini', 'Pisces', 1, 53),
 ('Cancer', 'Aries', 0, 42),
 ('Cancer', 'Taurus', 1, 97),
 ('Cancer', 'Gemini', 1, 65),
 ('Cancer', 'Cancer', 1, 75),
 ('Cancer', 'Leo', 1, 35),
 ('Cancer', 'Virgo', 1, 90),
 ('Cancer', 'Libra', 1, 43),
 ('Cancer', 'Scorpio', 1, 94),
 ('Cancer', 'Sagittarius', 1, 53),
 ('Cancer', 'Capricorn', 1, 83),
 ('Cancer', 'Aquarius', 1, 27),
 ('Cancer', 'Pisces', 1, 98),
 ('Leo', 'Aries', 0, 97),
 ('Leo', 'Taurus', 1, 73),
 ('Leo', 'Gemini', 1, 88),
 ('Leo', 'Cancer', 1, 35),
 ('Leo', 'Leo', 1, 45),
 ('Leo', 'Virgo', 1, 35),
 ('Leo', 'Libra', 0, 97),
 ('Leo', 'Scorpio', 1, 57.99999999999999),
 ('Leo', 'Sagittarius', 1, 93),
 ('Leo', 'Capricorn', 0, 35),
 ('Leo', 'Aquarius', 1, 69),
 ('Leo', 'Pisces', 1, 38),
 ('Virgo', 'Aries', 0, 63),
 ('Virgo', 'Taurus', 1, 90),
 ('Virgo', 'Gemini', 0, 68),
 ('Virgo', 'Cancer', 1, 90),
 ('Virgo', 'Leo', 1, 35),
 ('Virgo', 'Virgo', 0, 65),
 ('Virgo', 'Libra', 0, 69),
 ('Virgo', 'Scorpio', 0, 88),
 ('Virgo', 'Sagittarius', 1, 48),
 ('Virgo', 'Capricorn', 0, 95),
 ('Virgo', 'Aquarius', 0, 30),
 ('Virgo', 'Pisces', 0, 88),
 ('Libra', 'Aries', 0, 85),
 ('Libra', 'Taurus', 1, 65),
 ('Libra', 'Gemini', 0, 93),
 ('Libra', 'Cancer', 1, 43),
 ('Libra', 'Leo', 0, 97),
 ('Libra', 'Virgo', 0, 68),
 ('Libra', 'Libra', 0, 75),
 ('Libra', 'Scorpio', 0, 35),
 ('Libra', 'Sagittarius', 0, 73),
 ('Libra', 'Capricorn', 0, 55.00000000000001),
 ('Libra', 'Aquarius', 0, 90),
 ('Libra', 'Pisces', 0, 88),
 ('Scorpio', 'Aries', 0, 50),
 ('Scorpio', 'Taurus', 1, 88),
 ('Scorpio', 'Gemini', 0, 28.000000000000004),
 ('Scorpio', 'Cancer', 1, 94),
 ('Scorpio', 'Leo', 1, 57.99999999999999),
 ('Scorpio', 'Virgo', 0, 88),
 ('Scorpio', 'Libra', 0, 35),
 ('Scorpio', 'Scorpio', 0, 80),
 ('Scorpio', 'Sagittarius', 1, 28.000000000000004),
 ('Scorpio', 'Capricorn', 0, 95),
 ('Scorpio', 'Aquarius', 0, 73),
 ('Scorpio', 'Pisces', 1, 97),
 ('Sagittarius', 'Aries', 0, 93),
 ('Sagittarius', 'Taurus', 1, 30),
 ('Sagittarius', 'Gemini', 1, 60),
 ('Sagittarius', 'Cancer', 1, 53),
 ('Sagittarius', 'Leo', 1, 93),
 ('Sagittarius', 'Virgo', 1, 48),
 ('Sagittarius', 'Libra', 0, 73),
 ('Sagittarius', 'Scorpio', 1, 28.000000000000004),
 ('Sagittarius', 'Sagittarius', 1, 45),
 ('Sagittarius', 'Capricorn', 0, 60),
 ('Sagittarius', 'Aquarius', 1, 90),
 ('Sagittarius', 'Pisces', 1, 63),
 ('Capricorn', 'Aries', 0, 47),
 ('Capricorn', 'Taurus', 1, 98),
 ('Capricorn', 'Gemini', 0, 68),
 ('Capricorn', 'Cancer', 1, 83),
 ('Capricorn', 'Leo', 0, 35),
 ('Capricorn', 'Virgo', 0, 95),
 ('Capricorn', 'Libra', 0, 55.00000000000001),
 ('Capricorn', 'Scorpio', 0, 95),
 ('Capricorn', 'Sagittarius', 0, 60),
 ('Capricorn', 'Capricorn', 0, 75),
 ('Capricorn', 'Aquarius', 0, 69),
 ('Capricorn', 'Pisces', 0, 88),
 ('Aquarius', 'Aries', 0, 78),
 ('Aquarius', 'Taurus', 1, 57.99999999999999),
 ('Aquarius', 'Gemini', 0, 85),
 ('Aquarius', 'Cancer', 1, 27),
 ('Aquarius', 'Leo', 1, 68),
 ('Aquarius', 'Virgo', 0, 30),
 ('Aquarius', 'Libra', 0, 90),
 ('Aquarius', 'Scorpio', 0, 73),
 ('Aquarius', 'Sagittarius', 1, 90),
 ('Aquarius', 'Capricorn', 0, 69),
 ('Aquarius', 'Aquarius', 0, 45),
 ('Aquarius', 'Pisces', 0, 45),
 ('Pisces', 'Aries', 0, 67),
 ('Pisces', 'Taurus', 1, 85),
 ('Pisces', 'Gemini', 1, 53),
 ('Pisces', 'Cancer', 1, 98),
 ('Pisces', 'Leo', 1, 38),
 ('Pisces', 'Virgo', 0, 88),
 ('Pisces', 'Libra', 0, 88),
 ('Pisces', 'Scorpio', 1, 97),
 ('Pisces', 'Sagittarius', 1, 63),
 ('Pisces', 'Capricorn', 0, 88),
 ('Pisces', 'Aquarius', 0, 45),
 ('Pisces', 'Pisces', 1, 60)]

In [13]:
#Closing the connection
conn.close()