In [100]:
import pandas as pd
import datetime as dt

In [101]:
marriages = pd.read_csv("../data/marriage_success.csv", index_col="Unnamed: 0")
marriages.head()

      Marriage_Date        DOB1        DOB2  divorce
22554    2014-02-19  1983-11-17  1990-03-25      0.0
12203    2008-02-15  1987-01-26  1987-06-09      0.0
17722    2011-06-11  1981-05-05  1982-09-02      0.0
7319     2005-01-25  1985-10-24  1977-06-10      0.0
21310    2013-05-14  1993-04-29  1988-06-09      0.0

In [102]:
marriages[["Marriage_Date","DOB1","DOB2"]] = marriages[["Marriage_Date","DOB1","DOB2"]].apply(pd.to_datetime)

# Split the data by month and date to prep for zodic sign sortting. 
marriages['day1'] = marriages['DOB1'].apply(lambda x: x.day)
marriages['month1'] = marriages['DOB1'].apply(lambda x: x.month)
marriages['day2'] = marriages['DOB2'].apply(lambda x: x.day)
marriages['month2'] = marriages['DOB2'].apply(lambda x: x.month)

In [103]:
# function for the zodiac sign determination
def zodiac_sign(day, month): 
    if month == 12: 
        return 'Sagittarius' if (day < 22) else 'Capricorn'
    elif month == 1: 
        return 'Capricorn' if (day < 20) else 'Aquarius'
    elif month == 2: 
        return 'Aquarius' if (day < 19) else 'Pisces'
    elif month == 3: 
        return 'Pisces' if (day < 21) else 'Aries'
    elif month == 4: 
        return 'Aries' if (day < 20) else 'Taurus'
    elif month == 5: 
        return 'Taurus' if (day < 21) else 'Gemini'
    elif month == 6: 
        return 'Gemini' if (day < 21) else 'Cancer'
    elif month == 7: 
        return 'Cancer' if (day < 23) else 'Leo'
    elif month == 8: 
        return 'Leo' if (day < 23) else 'Virgo'
    elif month == 9: 
        return 'Virgo' if (day < 23) else 'Libra'
    elif month == 10: 
        return 'Libra' if (day < 23) else 'Scorpio'
    elif month == 11: 
        return 'Scorpio' if (day < 22) else 'Sagittarius'

In [104]:
marriages['zodiac1'] = marriages.apply(lambda x: zodiac_sign(x['day1'], x['month1']), axis=1)
marriages['zodiac2'] = marriages.apply(lambda x: zodiac_sign(x['day2'], x['month2']), axis=1)

In [105]:
marriages["divorce"] = marriages["divorce"].astype(int)
marriages = marriages[["zodiac1","zodiac2","divorce"]]

In [106]:
marriages.to_csv("../data/zodiac_marriage_success.csv", header=True)