In [16]:
# import
import pandas as pd 
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [17]:
# Load the data
df = pd.read_csv("../data/zodiac_marriage_success.csv", index_col="Unnamed: 0")
df.head()

        zodiac1 zodiac2  divorce
22554   Scorpio   Aries        0
12203  Aquarius  Gemini        0
17722    Taurus   Virgo        0
7319    Scorpio  Gemini        0
21310    Taurus  Gemini        0

In [18]:
# do one-hot encoding to Zod_sign_man and Zod_sign_woman and combine them together into a dataframe as X
X1 = pd.get_dummies(df['zodiac1']).values
X2 = pd.get_dummies(df['zodiac2']).values
X = pd.DataFrame(X1 + X2)

# define y variable 
y = df["divorce"]

# Rename the columns to zodiac sign
adjacency_matrix = pd.crosstab(df.zodiac1, df.zodiac2)
idx = adjacency_matrix.columns.union(adjacency_matrix.index)
X.columns = idx

# Rearranging index to start from 1
X.index = np.arange(1, len(X) + 1)

# avoid the multi-line formatting
pd.set_option('expand_frame_repr', False)

print(X)

      Aquarius  Aries  Cancer  Capricorn  Gemini  Leo  Libra  Pisces  Sagittarius  Scorpio  Taurus  Virgo
1            0      1       0          0       0    0      0       0            0        1       0      0
2            1      0       0          0       1    0      0       0            0        0       0      0
3            0      0       0          0       0    0      0       0            0        0       1      1
4            0      0       0          0       1    0      0       0            0        1       0      0
5            0      0       0          0       1    0      0       0            0        0       1      0
...        ...    ...     ...        ...     ...  ...    ...     ...          ...      ...     ...    ...
2564         1      0       0          1       0    0      0       0            0        0       0      0
2565         0      1       0          0       0    1      0       0            0        0       0      0
2566         0      0       0          0       0    1      1       0            0        0       0      0
2567         1      0       0          0       0    0      0       1            0        0       0      0
2568         0      0       0          0       0    1      0       0            1        0       0      0

[2568 rows x 12 columns]

In [19]:
# Import the KNeighborsClassifier module from sklearn
from sklearn.neighbors import KNeighborsClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y)
classifier = KNeighborsClassifier(n_neighbors=3)
classifier.fit(X_train, y_train)
predictions_test = classifier.predict(X_test)
accuracy_score(y_test, predictions_test)

/Users/tali/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.4937694704049844